.plan-row {
    display: flex;
    justify-content: flex-end;
}

.p-dropdown {
    margin: 0 5px;
    text-align: left;
}

.row-column {
    /* display: grid; */
    text-align: center;
    min-width: 30px;
}

.result-section {
    background-color: #e4dbdb;
    display: flex;
    margin-left: 10px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: 0 30px 0 15px;
}

.column-title {
    /* min-height: 30px; */
    padding: 5px 0;
    background-color: #e4dbdb;
    border-bottom: 2px solid black;
}

.remove-button {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    cursor: pointer;
}